.hover-orange:hover {
  color: #fd7e14 !important;
}

.btn-light:hover {
  background-color: #fd7e14;
  color: #fff;
}


      body {
        font-family: 'Inter', sans-serif;
      }
      .font-serif-italic {
        font-family: 'Playfair+Display', serif;
        font-style: italic;
      }
      ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track {
        background: #f8fafc;
      }
      ::-webkit-scrollbar-thumb {
        background: #ea580c;
        border-radius: 5px;
        border: 2px solid #f8fafc;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #c2410c;
      }
      ::selection {
        background-color: #ea580c;
        color: white;
      }

       .portal-card {
          transition: all 0.3s ease;
        }
        .portal-card:hover {
          transform: translateY(-8px);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
        }
        .portal-link:hover {
          color: #0d6efd;
        }
        .portal-link i {
          transition: transform 0.3s ease;
        }
        .portal-link:hover i {
          transform: translateX(6px);
        }


        .footer-link {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6c757d;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
}

input::placeholder {
  color: #555;
}
svg path,
svg polygon,
svg rect {
  transition: all 0.25s ease;
  cursor: pointer;
}


.highlight {
  filter: brightness(1.2) saturate(1.2);
  stroke: #ff0101 !important;
  stroke-width: 3 !important;
  transition: all 0.2s ease;
  cursor: pointer;
}

.selected-highlight {
  filter: brightness(1.15) saturate(1.28) drop-shadow(0 0 8px rgba(255, 255, 255, 0.45));
  stroke: #f90f02 !important;
  stroke-width: 3.4 !important;
  transition: all 0.2s ease;
}








/* Hide fills initially */
.fill-path {
  opacity: 0;
}


  .cls-1{fill:#878787;}.cls-2{fill:#f805de;}
  .cls-3{fill:#acfbfe;}.cls-4{fill:#3335b4;}
  .cls-5{fill:#06b49f;}.cls-6{fill:#0f9700;}
  .cls-7{fill:#d0ffcb;}.cls-8{fill:#fff60b;}
  .cls-9{fill:#fcc8b0;}.cls-10{fill:#000;}
  .cls-11{fill:#ca0233;}


.cls-10 {
  stroke: #000;
  fill: none;
  stroke-width: 2;

  /* smoother lines */
  stroke-linecap: round;
  stroke-linejoin: round;

  /* optional small transition */
  transition: stroke 0.3s ease;
}
